.container {
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    grid-template-areas:
    "first . ." 
    "second third . "
    "fourth third . "
    "five third . "
    "six seven eight"
    "nine ten eight";
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 8px;
}

.item1 {
    background-color: blue;
    grid-area: first;
    grid-column: 1 / 4;
}

.item2 {
    background-color: blueviolet;
    grid-area: second;
}

.item3 {
    background-color: brown;
    grid-area: third;
    grid-row: 2 / 5;
    grid-column: 2 / 4;
}

.item4 {
    background-color: darkgreen;
    grid-area: fourth;
    grid-row: 3 / 4;
}
.item5 {
    background-color: darkgreen;
    grid-area: five;
}
.item6 {
    background-color: darkgreen;
    grid-area: six;
}
.item7 {
    background-color: darkgreen;
    grid-area: seven;
}
.item8 {
    background-color: darkgreen;
    grid-area: eight;
}
.item9 {
    background-color: darkgreen;
    grid-area: nine;
}
.item10 {
    background-color: darkgreen;
    grid-area: ten;
}