.container {
    display: grid;
    /*grid-template-columns: 1fr 2fr;*/
    grid-template-areas:
    "first first second" 
    "third fourth second";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px auto 200px;
    gap: 8px;
}

.item1 {
    background-color: blue;
    grid-area: first;
}

.item2 {
    background-color: blueviolet;
    grid-area: second;
}

.item3 {
    background-color: brown;
    grid-area: third;
}

.item4 {
    background-color: darkgreen;
    grid-area: fourth;
}