.container{
    display: grid;
    /*height: 500px;*/
    /*width: 300px;*/
    /* dá um tamanho para a linha*/
    grid-template-columns: repeat(2, 1fr 200px);
    /*
    row-gap: 20px;
    column-gap: 20px;
    /*grid-template-rows: 100px 100px 100px;*/
    gap:20px 60px; /* linha | coluna */
}

.item1{
    background-color: aqua;
}

.item2{
    background-color: blue;
}

.item3{
    background-color: brown;
}

.item4{
    background-color: darkgoldenrod;
}

.item5{
    background-color: darkgreen;
}

.item6{
    background-color: darkmagenta;
}

.item7{
    background-color: deepskyblue;
}